<div *ngIf="animal && owners && clinics">
  <div [hidden]="submitted || deleted">
    <div class="row">
      <nb-card>
        <nb-card-header>Editing: {{animal.name}}</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="onSubmit()" #editAnimalForm="ngForm">

            <!-- Name -->
            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" required [(ngModel)]="animal.name" name="name">
              </div>
            </div>


            <!-- Description -->
            <div class="form-group row">
              <label for="description" class="col-sm-3 col-form-label">Description</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="description" required [(ngModel)]="animal.description" name="description">
              </div>
            </div>


            <!-- IsAlive -->
            <div class="form-group row">
              <label for="isalive" class="col-sm-3 col-form-label">Alive</label>
              <div class="col-sm-9">
                <input type="checkbox" class="form-control" id="isalive" required [(ngModel)]="animal.isalive" name="isalive">
              </div>
            </div>


            <!-- Owner selector -->
            <div class="form-group row">
              <label for="owner">Owner</label>
              <select class="form-control" id="owner" required [(ngModel)]="animal.ownerno" name="owner">
                <option *ngFor="let owner of owners" [value]="owner.ownerno">{{owner.ownerno}}: {{owner.firstname}} {{owner.lastname}}</option>
              </select>
            </div>


            <!-- Clinic selector -->
            <div class="form-group row">
              <label for="clinic">Clinic</label>
              <select class="form-control" id="clinic" required [(ngModel)]="animal.clinicno" name="clinic">
                <option *ngFor="let clinic of clinics" [value]="clinic.clinicno">{{clinic.clinicno}}: {{clinic.clinicname}} in {{clinic.city}}</option>
              </select>

            </div>
            <!-- Buttons -->
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" class="btn btn-primary" [disabled]="!editAnimalForm.form.valid">Update</button>
                <button type="button" class="btn btn-primary" (click)="delete(animal)">Delete</button>
              </div>

            </div>


          </form>
        </nb-card-body>
      </nb-card>
      <!-- TODO add a preview card -->
    </div>
  </div>

  <!-- Shown only if form gets submitted -->

  <div [hidden]="!submitted">
    <div class="row">
      <nb-card>
        <nb-card-header>{{animal.name}}</nb-card-header>
        <nb-card-body>
          <p>Successfully edited!</p>
          <a href="#/pages/dashboard" class="ion-home">Back to Dashboard</a>
        </nb-card-body>
      </nb-card>
    </div>
  </div>


  <!-- Show only if animal gets deleted -->
  <div [hidden]="!deleted">
    <div class="row">
      <nb-card>
        <nb-card-header>{{animal.name}}</nb-card-header>
        <nb-card-body>
          <p>Successfully deleted</p>
          <a href="#/pages/dashboard" class="ion-home">Back to Dashboard</a>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
