<nb-card>
<nb-card-header>
    Owners
  </nb-card-header>
  <nb-card-body>
<table>
<th>
  First Name
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Last Name
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Street
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  City
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  State
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Postal Code
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Phone number
</th>
<ng-container *ngFor="let item of data">
	<tr>
	  <td>
		{{item.firstname}}
		</td>
		<td></td>
	  <td>
		{{item.lastname}}
		</td>
		<td></td>
	  <td>
		{{item.street}}
		</td>
		<td></td>
	  <td>
		{{item.city}}
		</td>
		<td></td>
	  <td>
		{{item.state}}
		</td>
		<td></td>
	  <td>
		{{item.postalcode}}
		</td>
		<td></td>
	  <td>
		{{item.telephone}}
	  </td>
	</tr>
</ng-container>
</table>
</nb-card-body>
</nb-card>