<nb-card *ngFor="let clinic of clinics">
<nb-card-header>
    Personnel in {{clinic.clinicname}}
  </nb-card-header>
  <nb-card-body>
<table>
<th>
  First Name
</th>
<th>
  Last Name
</th>
<th>
  Birth Date
</th>
<th>
  Sex
</th>
<th>
  Position
</th>
<th>
  Salary
</th>
<th>
  Street
</th>
<th>
  City
</th>
<th>
  State
</th>
<th>
  Postal Code
</th>
<ng-container *ngFor="let item of data">
	<tr *ngIf = "(item.clinicname == clinic.clinicname)">
	  <td>
		{{item.firstname}}
	  </td>
	  <td>
		{{item.lastname}}
	  </td>
	  <td>
		{{item.bdate}}
	  </td>
	  <td>
		{{item.sex}}
	  </td>
	  <td>
		{{item.sin}}
	  </td>
	  <td>
		{{item.personnelposition}}
	  </td>
	  <td>
		{{item.salary}}
	  </td>
	  <td>
		{{item.street}}
	  </td>
	  <td>
		{{item.city}}
	  </td>
	  <td>
		{{item.state}}
	  </td>
	  <td>
		{{item.postalcode}}
	  </td>
	</tr>
</ng-container>
</table>
</nb-card-body>
</nb-card>