<nb-card>
<nb-card-header>
    Clinics
  </nb-card-header>
  <nb-card-body>
<table>
<th>
  Clinic Number
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Clinic Name
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Phone Number
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Street
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  City
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  State
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Postal Code
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Fax
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Manager's First Name
</th>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<th>
  Manager's Last Name
</th>
<ng-container *ngFor="let item of data">
	<tr>
	  <td>
		{{item.clinicno}}
		</td>
		<td></td>
	  <td>
		{{item.clinicname}}
		</td>
		<td></td>
	  <td>
		{{item.telephone}}
		</td>
		<td></td>
	<td>
		{{item.street}}
		</td>
		<td></td>
	  <td>
		{{item.city}}
		</td>
		<td></td>
	  <td>
		{{item.state}}
		</td>
		<td></td>
	  <td>
		{{item.postalcode}}
		</td>
		<td></td>
	  <td>
		{{item.fax}}
		</td>
		<td></td>
	  <td>
		{{item.firstname}}
		</td>
		<td></td>
	  <td>
		{{item.lastname}}
	  </td>
	</tr>
</ng-container>
</table>
</nb-card-body>
</nb-card>