<div *ngIf="treatments && animal">
  <nb-card>
    <nb-card-header>
      Treatments for
      <a href="http://localhost:4200/#/pages/animal/{{id}}">{{id}}: {{animal.name}}</a>
    </nb-card-header>
    <nb-card-body>

       <!-- *ngFor="let treatment of treatments"> -->
        <ul *ngFor="let treatment of treatments">
          <ul>
            <li>
              Description: {{treatment.description}}
            </li>
            <li>
              Cost: {{treatment.cost}}$
            </li>
          </ul>
        </ul>
      <!-- </ng-container> -->


    </nb-card-body>
  </nb-card>

</div>
