<nb-card *ngFor="let clinic of clinics">
  <nb-card-header>
      {{clinic.clinicname}}
  </nb-card-header>
  <nb-card-body>
    <table>
      <th>
        Animal
      </th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th>
        Birth Date
      </th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th>
        Inscription Date
      </th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th>
        Owner's First Name
      </th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th>
        Owner's Last Name
      </th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <th>
        Description
      </th>
      <ng-container *ngFor="let item of data" ng-init="clinic.clinicname">
        <tr *ngIf = "(item.clinicname == clinic.clinicname)">
          <td>
            <a href="/#/pages/animal/{{item.animalno}}">{{item.name}}</a>
          </td>
          <td></td>
          <td>
            {{item.bdate}}
          </td>
          <td></td>
          <td>
            {{item.inscriptiondate}}
          </td>
          <td></td>
          <td>
            {{item.firstname}}
          </td>
          <td></td>
          <td>
            {{item.lastname}}
          </td>
          <td></td>
          <td>
            {{item.description}}
          </td>
          <td></td>
          <td>
            <a href="/#/pages/treatment/{{item.animalno}}">treatments</a>
          </td>
        </tr>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>
