<nb-card>
<nb-card-header>
    Animaux
  </nb-card-header>
  <nb-card-body>
<table>
<th>
  Animal
</th>
<th>
  Birth Date
</th>
<th>
  Inscription Date
</th>
<th>
  Owner's First Name
</th>
<th>
  Owner's Last Name
</th>
<th>
  Clinic Name
</th>
<th>
  Description
</th>
<ng-container *ngFor="let item of data">
	<tr>
	  <td>
		<a href="http://localhost:4200/#/pages/animal/{{item.animalno}}">{{item.name}}</a>
	  </td>
	  <td>
		{{item.bdate}}
	  </td>
	  <td>
		{{item.inscriptiondate}}
	  </td>
	<td>
		{{item.firstname}}
	  </td>
	  <td>
		{{item.lastname}}
	  </td>
	  <td>
		{{item.clinicname}}
	  </td>
	  <td>
		{{item.description}}
	  </td>
	  <td>
		<a href="http://localhost:4200/#/pages/treatment/{{item.animalno}}">treatments</a>
	  </td>
	</tr>
</ng-container>
</table>
</nb-card-body>
</nb-card>